.tabs_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 24px;
    background: #FBF3E9;

    .tab {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #99969C;
        text-align: center;
        font-family: var(--font-Montserrat);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 171.429%;
        height: 46px;
        letter-spacing: -0.3px;
        border-radius: 24px;
        background: #FBF3E9;
        cursor: pointer;
        transition: color .4s ease;

        &:hover {
            color: #000;
        }
    }

    .active_tab_gitls {
        background: #FBBBD7;
        color: #080709;
    }

    .active_tab_boys {
        background: #BFCCF8;
        color: #000;
    }
}