.form_button {
	margin-top: 0.8rem;
	color: #080709;
	text-align: center;
	font-family: var(--font-Montserrat);
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding: 15px 0;
	width: 100%;
	cursor: pointer;
	border-radius: 6.25rem;
	background: #a663ee;
	outline: none;
	border: 0;
	transition: all 0.3s ease;

	&:hover {
		color: #080709;
		background: #a663ee;
	}
	&:active {
		color: #080709;
		background: #cd9eff;
		border: 2px solid #a663ee;
	}
	&:disabled {
		background: #e5e5e6;
		color: #b7b4bb;
		cursor: auto;
		&:hover {
			color: #b7b4bb;
		}
		&:active {
			border: none;
		}
	}
}
