.WrapperMenu {
	display: flex;
	flex-direction: row;
	justify-items: center;
	gap: 0.75rem;
}
.position {
	position: relative;
}

.MenuOpen {
	position: absolute;
	top: -0.7rem;
	left: -2.5%;
	border-radius: 1rem;
	padding: 0.7rem 0.5rem 0.1rem 0.3rem;
	box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.1);
	// box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	background-color: #faf6fd;
	overflow: hidden;
	z-index: 2;
}

.OpenPosition {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	.text__open {
		display: flex;
		align-items: center;
		padding: 1rem 2.4rem 0.7rem 0;
		background: #faf6fd;
		.item_icon_open {
			padding: 0 0.7rem 0 0.7rem;
			path {
				fill: #cd9eff;
			}
		}
	}
	.ItemWithBorder,
	.ItemProfile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 0.75rem;
		.iconExit {
			padding: 0.75rem 0.55rem 0.75rem 0;
		}
	}

	.ItemWithBorder,
	.ItemProfile:hover {
		transition-property: color, background-color, border-color,
			text-decoration-color, fill, stroke, opacity, box-shadow, transform,
			filter, backdrop-filter;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
	}
	.ItemWithBorder {
		border-bottom: 1px solid #e5e5e6;
	}
}

.TextWrap {
	display: flex;
	align-items: center;
	border: none;
	background: none;
	font-family: var(--font-Montserrat);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	cursor: pointer;
	.list_item_icon {
		path {
			fill: #cd9eff;
		}
	}
	&:hover {
		.list_item_icon {
			path {
				fill: #a663ee;
			}
		}
	}
}

.drop__btn {
	display: flex;
	align-items: center;
	border: none;
	background: none;
	font-family: var(--font-Montserrat);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	cursor: pointer;
	background: #faf6fd;
	width: 11.8rem;
	.list_item_icon {
		path {
			fill: #cd9eff;
		}
	}
}
