html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html {
	height: 100%;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	overflow-x: hidden;
}

.modal_opened {
	overflow: hidden;
}

/* ========= Start Slider ========= */


$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;


/* Slider */
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}

	.slick-loading & {
		visibility: hidden;
	}
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;

	[dir="rtl"] & {
		float: right;
	}

	img {
		display: block;
	}

	&.slick-loading img {
		display: none;
	}

	display: none;

	&.dragging img {
		pointer-events: none;
	}

	.slick-initialized & {
		display: block;
	}

	.slick-loading & {
		visibility: hidden;
	}

	.slick-vertical & {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}

.slick-arrow.slick-hidden {
	display: none;
}

/* Dots */
.slick-dotted.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	position: absolute;
	bottom: -25px;

	display: block;

	width: 100%;
	padding: 0;
	margin: 0;

	list-style: none;

	text-align: center;
}

.slick-dots li {
	position: relative;

	display: inline-block;

	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;

	cursor: pointer;
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;

	display: block;

	width: 20px;
	height: 20px;
	padding: 5px;

	cursor: pointer;

	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
	opacity: 1;
}

.slick-dots li button:before {
	font-family: 'slick';
	font-size: 6px;
	line-height: 20px;

	position: absolute;
	top: 0;
	left: 0;

	width: 20px;
	height: 20px;

	content: '•';
	text-align: center;

	opacity: 0.25;
	color: black;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
	opacity: 0.75;
	color: black;
}

/* ========= End Slider ========= */

/* ========= Main Slider ========= */

.main-slider {
	position: relative;

	.slick-list {
		height: 620px;
		z-index: 1;
	}

	/* Dots */

	.slick-dots {
		position: absolute;
		bottom: 12px;
		right: 102px;
		list-style: none;
		display: flex;
		align-items: center;
		margin: 0;
		width: max-content;
		z-index: 2;

		.custom-dots {
			list-style: none;
			display: flex;
			justify-content: flex-end;
			gap: 12px;

			.slick-active {
				width: 28px;

				.custom-dot {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 28px;
					height: 10px;
					border-radius: 8px;
					background: #6F7F71;
					margin: 0;
				}
			}

			li {
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0;
				height: 10px;

				.custom-dot {
					width: 10px;
					height: 10px;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 0;
					cursor: pointer;
					background-color: #fff;
				}
			}
		}
	}
}

/* ========= End Main Slider ========= */

.card__slider {
	width: 100%;
	margin: 0 auto;
	display: flex;


	.slick-slider {
		height: auto;
		width: 100%;
	}

	.slick-slide {
		padding: 0;
	}

	.slick-slide:last-child {
		margin-right: 0;
	}

	.slick-list {
		z-index: 5;
		height: auto;
		width: 100%;
	}

	.slick-track {
		display: flex;
		gap: 24px;
	}
}

.custom__select {
	&__control {
		border-radius: 28px !important;
		border: 1px solid #CCCACD !important;
		width: 142px !important;
		height: 40px !important;
	}

	&__indicator-separator {
		display: none !important;
	}

	&__single-value {
		padding-left: 10px !important;
		color: #7F7C83 !important;
		font-family: var(--font-Montserrat) !important;
		font-size: 16px !important;
		font-style: normal !important;
		font-weight: 400 !important;
		line-height: 24px !important;
	}

	&__option {
		cursor: pointer !important;
		color: #080709 !important;
		background-color: #FBF3E9 !important;
		font-family: var(--font-Montserrat) !important;
		font-size: 16px !important;
		font-style: normal !important;
		font-weight: 400 !important;
		line-height: 24px !important;

		&:hover {
			background-color: #F0D2AC !important;

		}
	}
}