.google__button {
	width: 3.6rem;
	height: 3.6rem;
	margin-left: 2rem;
	border-radius: 100px;
	border: 1px solid #e5e5e6;
	background: #fcfbfe;
	cursor: pointer;
}
.google__button:hover {
	width: 3.6rem;
	height: 3.6rem;
	border: 1px solid #cd9eff;
	background: #faf6fd;
}
.google__button:active {
	border: 1px solid #e5e5e6;
	background: #fcfbfe;
}
.google__img {
	position: relative;
	top: 0.8rem;
	left: 0.85rem;
}
