.card__slider_slide {
    position: relative;
    cursor: pointer;
    display: grid;
    height: 337px;
    grid-template-rows: 1fr 65px;

    &:hover {
        grid-template-rows: 130px 1fr;

        .image {
            .add_to_favorite {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .add_to_cart {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .indicator_for {
                display: none;
            }
        }

        .card_info {
            cursor: auto;

            .upper_row {
                display: flex;
                justify-content: space-between;

                .card_title_row {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    .card_title {
                        cursor: pointer;
                    }

                    .card_model {
                        display: block;
                        color: #B3B3B3;
                        font-family: var(--font-Manrope);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%;
                    }
                }
            }

            .category_wrapp {
                margin-top: 9px;

                .card_category {
                    display: block;
                    color: #080709;
                    font-family: var(--font-Manrope);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                }

                .card_price_wrapp {
                    position: relative;

                    .indicator_for {
                        display: block;
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        width: 16px;
                        height: 16px;
                        border-radius: 20px;
                    }

                    .for_girls {
                        background-color: #E5B7C0;
                    }

                    .for_boys {
                        background-color: #B7D4E5;
                    }
                }
            }

            .colors_and_sizes {
                display: block;
                display: flex;
                flex-direction: column;
                gap: 4px;
                margin-top: 8px;

                .circle_wrapp {
                    display: flex;
                    gap: 12px;

                    .circle {
                        cursor: pointer;
                        background-color: #D9D9D9;
                        width: 15px;
                        height: 15px;
                        border-radius: 20px;
                    }
                }

                .sizes_wrap {
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    margin-top: 4px;
                    gap: 6px;

                    .size_item {
                        cursor: pointer;
                        padding-right: 8px;
                        border-right: 2px solid #7F7C83;
                        color: #7F7C83;
                        font-family: var(--font-Manrope);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        &:last-child {
                            border-right: none;
                        }
                    }

                    .size_item_inactive {
                        cursor: auto;
                        color: #CCCACD;
                    }
                }
            }
        }
    }

    .top_icon {
        position: absolute;
        top: -12px;
        left: 50%;
        z-index: 20;
        transform: translateX(-50%);
    }

    .image {
        border-radius: 16px 16px 0 0;
        overflow: hidden;
        position: relative;
        transition: height .1s ease;

        .indicator_for {
            position: absolute;
            bottom: 12px;
            right: 12px;
            width: 16px;
            height: 16px;
            border-radius: 20px;
        }

        .for_girls {
            background-color: #E5B7C0;
        }

        .for_boys {
            background-color: #B7D4E5;
        }

        .add_to {
            background-color: #FFFDFA;
            border-radius: 100px;
            width: 30px;
            height: 30px;
            display: none;
        }

        .add_to_favorite {
            position: absolute;
            top: 12px;
            right: 12px;

            .svg {
                path {
                    transition: all .4s ease;
                    fill: transparent
                }
            }

            &:hover {
                .svg {
                    path {
                        transition: all .4s ease;
                        stroke: red;
                        fill: red;
                    }
                }
            }
        }

        .add_to_cart {
            position: absolute;
            top: 60px;
            right: 12px;

            .svg_cart {
                path {
                    transition: all .4s ease;
                }
            }

            &:hover {
                .svg_cart {
                    path {
                        transition: all .4s ease;
                        stroke: red;
                    }
                }
            }
        }
    }

    .card_info {
        border-radius: 0px 0px 24px 24px;
        background: #F5F5F5;
        padding: 8px 12px;
        display: flex;
        flex-direction: column;

        .upper_row {
            display: flex;
            justify-content: space-between;

            .card_title_row {
                display: flex;
                flex-direction: column;
                gap: 2px;

                .card_title {
                    color: #808080;
                    font-family: var(--font-Manrope);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                }

                .card_model {
                    display: none;
                }
            }

            .raiting {
                display: flex;
                justify-content: flex-end;
                color: #808080;
                font-family: var(--font-Manrope);
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                gap: 8px;

                .raiting_block {
                    display: flex;
                }
            }
        }

        .category_wrapp {
            .card_category {
                display: none;
            }

            .card_price_wrapp {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .card_price {
                    color: #08070D;
                    font-family: var(--font-Manrope);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 172%;
                }
            }
        }

        .colors_and_sizes {
            display: none;
        }








        // .colors_and_sizes {
        //     display: none;
        //     display: flex;
        //     flex-direction: column;
        //     gap: 4px;

        //     .circle_wrapp {
        //         display: flex;
        //         gap: 12px;

        //         .circle {
        //             cursor: pointer;
        //             background-color: #D9D9D9;
        //             width: 15px;
        //             height: 15px;
        //         }
        //     }
        // }


    }
}