.card__slider_slide {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 337px;
    border-radius: 16px;
    overflow: hidden;

    &:hover {
        .image {

            .cards_buttons_add_to_wrapper {
                display: flex;
                flex-direction: column;
                gap: 5px;
                position: absolute;
                top: 8px;
                left: 12px;

                .add_to {
                    background-color: #FFFDFA;
                    border-radius: 100px;
                    width: 30px;
                    height: 30px;
                    display: none;
                }

                .add_to_favorite {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .add_to_cart {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .add_to_cart_active {
                    svg {
                        circle {
                            fill: #A663EE;
                        }
                    }
                }

                .add_to_favorite {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .svg {
                        circle {
                            display: none;
                        }
                    }

                    &:hover {
                        .svg {
                            path {
                                transition: all .4s ease;
                                stroke: #A663EE
                            }
                        }
                    }
                }

                .add_to_cart {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .svg_cart {
                        circle {
                            display: none;
                        }
                    }

                    &:hover {
                        .svg_cart {
                            path {
                                transition: all .4s ease;
                                stroke: #A663EE
                            }
                        }
                    }
                }

                .add_to_active {
                    background-color: #A663EE;

                    &:hover {
                        .svg_cart {
                            path {
                                transition: all .4s ease;
                                stroke: #fff
                            }
                        }
                    }
                }
            }

            .indicator_for {
                display: none;
            }
        }

        .card_info {
            transition: top .4s ease;
            top: 135px;
            position: absolute;

            cursor: auto;

            .upper_row {
                display: flex;
                justify-content: space-between;

                .card_title_row {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    .card_brand {
                        display: block;
                        color: #99969C;
                        font-family: var(--font-Montserrat);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                    }

                    .card_title {
                        display: none;
                        cursor: pointer;
                    }

                    .card_model {
                        display: block;
                        color: #B3B3B3;
                        font-family: var(--font-Montserrat);
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                    }
                }
            }

            .category_wrapp {
                margin-top: 9px;

                .card_title {
                    cursor: pointer;
                    display: block;
                    overflow: hidden;
                    color: #080709;
                    font-family: var(--font-Montserrat);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 270px;
                }

                .card_price_wrapp {
                    position: relative;
                    display: flex;

                    .indicator_for {
                        display: flex;
                        width: 16px;
                        height: 16px;
                        border-radius: 20px;
                    }
                }
            }

            .colors_and_sizes {
                display: block;
                display: flex;
                flex-direction: column;
                gap: 4px;
                margin-top: 8px;

                .circle_wrapp {
                    display: flex;
                    gap: 12px;

                    .circle {
                        cursor: pointer;
                        width: 15px;
                        height: 15px;
                        border-radius: 20px;
                        outline: 0;

                        &:hover {
                            filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.6));
                        }

                        &:active {
                            outline: 2px solid #fff;
                        }
                    }

                    .circle_active {
                        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.6));
                        outline: 2px solid #fff;
                    }
                }

                .sizes_wrap {
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    margin-top: 4px;
                    gap: 6px;

                    .size_item {
                        cursor: pointer;
                        padding: 0 6px;
                        border-right: 2px solid #7F7C83;
                        color: #7F7C83;
                        font-family: var(--font-Montserrat);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        transition: color .4s ease;

                        &:last-child {
                            border-right: none;
                        }

                        &:hover {
                            transition: color .4s ease;
                            color: #080709;
                        }

                        &:active {
                            font-weight: 500;
                        }
                    }

                    .size_item_inactive {
                        cursor: default;
                        color: #CCCACD;

                        &:hover {
                            color: #CCCACD;
                        }
                    }
                }
            }
        }
    }

    .top_icon {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 20;
        transform: translateX(-50%);
    }

    .image {
        height: 272px;
        overflow: hidden;
        position: relative;
        transition: height .1s ease;
        border-radius: 16px 16px 0 0;

        .indicator_for {
            position: absolute;
            bottom: 20px;
            right: 12px;
            width: 16px;
            height: 16px;
            border-radius: 20px;
        }

        .is_sale {
            position: absolute;
            top: 12px;
            right: 12px;
            border-radius: 99px;
            background: #F0D2AC;
            padding: 4px 12px;

            .sale_text {
                color: #080709;
                font-family: var(--font-Montserrat);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            }
        }
    }

    .card_info {
        transition: top .4s ease;
        position: absolute;
        top: 272px;
        width: 100%;
        height: 100%;
        border-radius: 0px 0px 16px 16px;
        background: #FCFBFE;
        display: flex;
        flex-direction: column;
        border-radius: 0 0 16px 16px;

        .upper_row {
            display: flex;
            justify-content: space-between;
            padding: 8px 12px 0 12px;

            .card_title_row {
                display: flex;
                flex-direction: column;
                gap: 2px;

                .card_brand {
                    display: none;
                }

                .card_title {
                    color: #080709;
                    font-family: var(--font-Montserrat);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 180px;
                }

                .card_model {
                    display: none;
                }
            }

            .raiting {
                display: flex;
                justify-content: flex-end;
                color: #808080;
                font-family: var(--font-Montserrat);
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                gap: 8px;

                .raiting_block {
                    display: flex;
                }
            }
        }

        .category_wrapp {
            padding: 0 12px 8px 12px;
            border-radius: 0 0 16px 16px;

            .card_title {
                display: none;
            }

            .card_price_wrapp {
                display: flex;
                justify-content: space-between;

                .card_price {
                    color: #080709;
                    font-family: var(--font-Montserrat);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                }

                .indicator_for {
                    display: none;
                }
            }
        }

        .colors_and_sizes {
            display: none;
            padding: 0 12px;
        }
    }
}