.cart_menu_header {
    display: flex;
    justify-content: space-between;
    padding: 12px 36px 3px 10px;

    .cart_menu__title_wrapper {
        display: flex;
        align-items: center;

        .cart_menu__title {
            color: #080709;
            font-family: var(--font-Montserrat);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
        }
    }

    .cart_menu__total_wrapper {
        display: flex;
        align-items: center;
        gap: 16px;

        .cart_menu__total_text {
            color: #7F7C83;
            font-family: var(--font-Montserrat);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
        }

        .cart_menu__total_count {
            color: #080709;
            font-family: var(--font-Montserrat);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
        }
    }
}

.cart_products_wrapper {
    width: 100%;
    background-color: #fff;

    .cart_product {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 9px;
        padding: 16px 24px;
        border-bottom: 1px solid #E5E5E6;

        .cart_product__image {
            position: relative;
            width: 70px;
            height: 80px;
            border-radius: 8px;
            overflow: hidden;

            .image_sex_Icon {
                position: absolute;
                bottom: 4px;
                right: 4px;
            }
        }

        .cart_product__info {
            display: grid;
            grid-template-columns: 1fr 60px 40px;
            gap: 64px;

            .product__info_name_block {
                display: flex;
                flex-direction: column;
                gap: 4px;

                .product__info_name {
                    cursor: pointer;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    color: #080709;
                    font-family: var(--font-Montserrat);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    white-space: wrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 180px;
                }

                .product__info_brand {
                    color: #7F7C83;
                    font-family: var(--font-Montserrat);
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                }
            }

            .product__info_price_block {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;

                .product__info_price {
                    color: #080709;
                    font-family: var(--font-Montserrat);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                }

                .product__info_price_old {
                    color: #CCCACD;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    text-decoration-line: line-through;
                }
            }

            .cart_product__remove_btn {
                cursor: pointer;

                &:hover {
                    path {
                        stroke: #A663EE;
                    }
                }
            }

        }
    }
}

.cart_menu_btn {
    padding: 15px 0;
    display: flex;
    align-items: center;
    margin: 0 auto;

    .cart_menu_btn_text {
        cursor: pointer;
        color: #1F93ED;
        text-align: center;
        font-family: var(--font-Montserrat);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }
}