.form_button {
	color: #080709;
	text-align: center;
	font-family: var(--font-Manrope);
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding: 15px 0;
	width: 100%;
	cursor: pointer;
	border-radius: 8px;
	background: #cd9eff;
	outline: none;
	border: 0;
	transition: all 0.3s ease;

	&:hover {
		color: rgba(0, 0, 0, 1);
		background: #a663ee;
	}

	&:active {
		background: #cd9eff;
		border: 1px solid #a663ee;
	}
}
