.popup__message {
    position: absolute;
    top: 0;
    padding: 8px 0;
    width: 100vw;
    background-color: rgba(140, 252, 37, 0.50);
    color: #080709;
    text-align: center;
    font-family: var(--font-Montserrat);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}