@import '../../style/mixins.scss';

.main {
    padding: 96px 0;
    @include container;

    .title {
        color: #121212;
        font-family: var(--font-Manrope);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .content_wrapp {
        margin-top: 56px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        

        .cell {
            cursor: pointer;
            display: flex;
            flex-direction: column;

            .image_wrapp {
                position: relative;
                height: 281px;
                border-radius: 24px 24px 0 0;
                overflow: hidden;
            }

            .cell_title {
                display: flex;
                align-items: center;
                gap: 8px;
                border-radius: 0px 0px 24px 24px;
                background: #DEB;
                padding: 8px 0 8px 24px;
                color: #08070D;
                font-family: var(--font-Manrope);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 0.28px;
            }
        }
    }
}