.facebook__button {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 100px;
	border: 1px solid #e5e5e6;
	background: #fcfbfe;
	cursor: pointer;
}
.facebook__button:hover {
	width: 3.6rem;
	height: 3.6rem;
	border: 1px solid #cd9eff;
	background: #faf6fd;
}
.facebook__button:active {
	border: 1px solid #e5e5e6;
	background: #fcfbfe;
}
.facebook__img {
	position: relative;
	top: 0.8rem;
	left: 1.25rem;
}
