.form__title,
.social__title {
	display: flex;
	justify-content: center;
	color: #000;
	font-family: var(--font-Montserrat);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.sign_in__form,
.social__sign_in {
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
	padding: 1.5rem 0.5rem 0 0.6rem;
	button {
		margin-top: 2rem;
	}
}
.social__sign_in {
	align-items: center;
	padding-top: 2.2rem;
}
.social__button {
	display: flex;
	padding: 0.9rem 0.1rem 0;
}
.pass__wrap {
	position: relative;
	padding-top: 0.7rem;
	margin-bottom: 0.8rem;

	.eye__open,
	.eye__close {
		position: absolute;
		display: block;
		z-index: 11;
		cursor: pointer;
	}
	.eye__close {
		right: 6.5%;
		top: 59%;
	}
	.eye__open {
		right: 6.5%;
		top: 58%;
	}
}
.form_button {
	margin-top: 0.8rem;
	text-align: center;
	font-family: var(--font-Montserrat);
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding: 15px 0;
	width: 100%;
	cursor: pointer;
	border-radius: 6.25rem;
	background: #cd9eff;
	outline: none;
	border: 0;
	transition: all 0.3s ease;
}
.form_button:hover {
	color: #080709;
	background: #a663ee;
}
.form_button:active {
	color: #080709;
	background: #cd9eff;
	border: 2px solid #a663ee;
}
.form_button:disabled {
	background: #e5e5e6;
	color: #b7b4bb;
	cursor: auto;
	&:hover {
		color: #b7b4bb;
	}
	&:active {
		border: none;
	}
}

.wrapper__returnPasword {
	display: flex;
	justify-content: flex-end;
	a {
		color: #1f93ed;
		text-align: right;
		font-family: var(--font-Montserrat);
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-decoration: none;
		border-bottom: 1px #1f93ed solid;
	}
}
