.form_button {
	color: #a663ee;
	text-align: center;
	font-family: var(--font-Montserrat);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	width: 100%;
	cursor: pointer;
	border-radius: 6.25rem;
	background: none;
	outline: none;
	border: 0;
	border: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	.imagePlus {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	margin-bottom: 1.5rem;
}
