.breadcrumbs {
    display: flex;
    gap: 19px;
    font-family: var(--font-Montserrat);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    .breadcrumbs__item {
        color: #7F7C83;
        font-weight: 500;

        a {
            position: relative;
            cursor: pointer;
            text-decoration: none;
            color: #99969C;
            transition: color .4s ease;

            &::after {
                position: absolute;
                right: -13px;
                content: "/";
            }

            &:hover {
                transition: color .4s ease;
                color: #7F7C83;
            }
        }
    }
}